DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=suspendu_all

# MAIL_HOST=smtp-relay.sendinblue.com
# MAIL_USER=fatimazohra.bouhnach@ajicreative.club
# MAIL_PASSWORD=K2ktBZ0C7wOMIjE8
# MAIL_FROM=fatimazohra.bouhnach@ajicreative.club

MAIL_HOST=smtp-relay.brevo.com
MAIL_USER=fatima.driyouch@ajicreative.club
MAIL_PASSWORD=nMGg32sXDvPcW7JZ
MAIL_FROM=fatima.driyouch@ajicreative.club

SITE_URL=http://localhost:3000