<!-- reset-password.template.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Réinitialisation de votre mot de passe</title>
  </head>
  <body style="font-family: Arial, sans-serif; background-color: #f2f2f2; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
      <h2 style="color: #333;">Réinitialiser votre mot de passe</h2>
      <p style="font-size: 16px; color: #555;">
        Bonjour {{ name }},
      </p>
      <p style="font-size: 16px; color: #555;">
        Votre mot de passe a bien été réinitialisé. Vous pouvez dès à présent vous connecter à l'application en utilisant le mot de passe temporaire suivant : <span style="font-size: 18px; background-color: #f0f0f0; padding: 10px 20px; border-radius: 5px; font-weight: bold; display: inline-block;"> {{ newPassword }}</span>
      </p>
      {{!-- <div style="margin: 20px 0; text-align: center;">
        <span style="font-size: 18px; background-color: #f0f0f0; padding: 10px 20px; border-radius: 5px; font-weight: bold; display: inline-block;">
          {{ newPassword }}
        </span>
      </div> --}}
      <p style="font-size: 16px; color: #555;">
        Pour sécuriser votre compte, nous vous recommandons de modifier ce mot de passe dès votre première connexion.<br/>
        Pour cela, rendez-vous dans votre <strong>Profil</strong>, dans la rubrique <strong>Informations personnelles</strong>, où vous pourrez le mettre à jour facilement.
      </p>
      <p  style="font-size: 16px; color: #555;">
        Merci pour votre soutien.
      </p>

      <p style="font-size: 16px; color: #333;"> L'équipe {{ appName }} </p>
    </div>
  </body>
</html>