<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Validation de votre compte</title>
  </head>
  <body style="font-family: Arial, sans-serif; background-color: #f9f9f9; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1);">

      <p style="font-size: 16px; color: #555;">Bonjour, </p>
      
      <p style="font-size: 16px; color: #555;"> Votre compte a été validé avec succès..</p>
      <p style="font-size: 16px; color: #555;">Voici votre mot de passe provisoire: <strong>{{password}}</strong></p>
      <p style="font-size: 16px; color: #555;">Nous vous recommandons de le modifier dès votre première connexion.</p>
      <br />
      <p style="font-size: 16px; color: #555;">Cordialement,</p>

      <p style="font-size: 16px; color: #333;">L'équipe {{appName}}</p>
    </div>
  </body>
</html>
